*.class
# Package Files #
*.jar
*.war
*.ear
.classpath
.project
/target
lib
.DS_Store
/build/
/dist/
/doc/
.settings/
.ant-targets-build.xml
*.iml
*.ipr
*.iws
/bin/
/target/
.externalToolBuilders/*
.externalToolBuilders
dataSyncOnline*
amtlib.framework/
.gitlab/
.idea/